.hero-section {
  padding: 80px 0 20px;
  .title-part {
    max-width: 630px;
    margin: 0 auto;
    .content {
      margin-top: 24px;
    }
  }
  .image-gallery {
    display: flex;
    gap: 16px;
    margin-top: 80px;

    .image {
      overflow: hidden;
      &:nth-child(even) {
        border-radius: 80px 0 80px 0;
      }

      &:nth-child(odd) {
        border-radius: 0 80px 0 80px;
      }
    }
  }
}

.counters-section {
  padding: 40px 0 80px;

  .inner {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;

    .counter-item {
      width: 214px;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        right: -4vw;
        width: 1px;
        background: $secondary-color;
        height: 100%;
        border-radius: 100%;
      }
      &:last-child:before {
        display: none;
      }

      .count {
        font-size: 4rem;
        line-height: 1;
      }
      .content {
        font-size: 1.5rem;
        line-height: 1;
        font-family: $secondary-font;
        margin-top: 16px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .counters-section {
    .inner {
      padding: 40px 0;

      .counter-item {
        &::before {
          right: -1vw;
        }

        .content {
          font-size: 20px;
        }

        .count {
          font-size: 52px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .counters-section {
    .inner {
      row-gap: 60px;

      .counter-item {
        width: calc(50% - 24px);

        &:nth-child(2)::before {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding: 40px 0 20px;

    .image-gallery {
      margin-top: 40px;

      .image {
        &:nth-child(odd),
        &:nth-child(even) {
          border-radius: 0 20px 0 20px;
        }
      }
    }
  }
  .counters-section {
    .inner {
      .counter-item {
        &::before {
          right: -5vw;
        }
        .count {
          font-size: 42px;
        }

        .content {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .counters-section {
    .inner {
      .counter-item {
        &::before {
          right: -8vw;
        }
      }
    }
  }
}
