.hero-section {
  padding: 80px 0 20px;
  .title-part {
    max-width: 630px;
    margin: 0 auto;
    .content {
      margin-top: 24px;
    }
  }
  .image-gallery {
    display: flex;
    gap: 16px;
    margin-top: 80px;

    .image {
      overflow: hidden;
      &:nth-child(even) {
        border-radius: 80px 0 80px 0;
      }

      &:nth-child(odd) {
        border-radius: 0 80px 0 80px;
      }
    }
  }
}

.counters-section {
  padding: 40px 0;

  .inner {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;

    .counter-item {
      width: 214px;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        right: -4vw;
        width: 1px;
        background: $secondary-color;
        height: 100%;
        border-radius: 100%;
      }
      &:last-child:before {
        display: none;
      }

      .count {
        font-size: 4rem;
        line-height: 1;
      }
      .content {
        font-size: 1.5rem;
        line-height: 1;
        font-family: $secondary-font;
        margin-top: 16px;
      }
    }
  }
}

.products-section {
  padding: 40px 0;
  .inner {
    .title-part {
      max-width: 450px;
      margin: 0 auto;
      text-align: center;

      h5 {
        margin: 0;
      }
    }
  }
  .cards-wrapper {
    margin: 80px -12px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    .card {
      width: 25%;
      padding: 0 12px;

      .image {
        border-radius: 0 40px 0 40px;
        overflow: hidden;
      }
      .content-box {
        padding: 16px 24px;
        .raitng {
          display: flex;
          align-items: center;
          gap: 16px;
          flex-wrap: wrap;

          .stars {
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 700;
            opacity: 0.7;
          }

          span.all {
            font-size: 16px;
            opacity: 0.7;
            line-height: 1;
          }
        }
        .content {
          margin-top: 16px;
          font-size: 16px;
          line-height: 1.3;
          opacity: 0.7;
        }
        .card-bottom {
          margin-top: 16px;
          display: flex;
          justify-content: space-between;

          .price {
            font-weight: 700;
            opacity: 0.7;
          }
          a {
            background: $primary-color;
            min-width: 80px;
            text-align: center;
            padding: 4px;
            border-radius: 8px;
            font-size: 30px;
            line-height: 0.5;
            color: #fff;
            border: 1px solid $primary-color;
            transition: all 0.3s ease;
            height: 30px;
            &:hover {
              background-color: #fff;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .counters-section {
    .inner {
      padding: 40px 0;

      .counter-item {
        &::before {
          right: -1vw;
        }

        .content {
          font-size: 1.25rem;
        }

        .count {
          font-size: 3.25rem;
        }
      }
    }
  }
  .products-section {
    .cards-wrapper {
      .card {
        width: 50%;

        .image {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .counters-section {
    padding: 40px 0;
    .inner {
      row-gap: 60px;

      .counter-item {
        width: calc(50% - 24px);

        &:nth-child(2)::before {
          display: none;
        }
      }
    }
  }

  .products-section {
    padding: 40px 0;

    .cards-wrapper {
      margin-top: 40px;
    }
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding: 40px 0 20px;

    .image-gallery {
      margin-top: 40px;

      .image {
        &:nth-child(odd),
        &:nth-child(even) {
          border-radius: 0 20px 0 20px;
        }
      }
    }
  }
  .counters-section {
    .inner {
      .counter-item {
        &::before {
          right: -5vw;
        }
        .count {
          font-size: 2.625rem;
        }

        .content {
          font-size: 1.125rem;
        }
      }
    }
  }
  .products-section {

    .cards-wrapper {
      margin: 40px 0 0;

      .card {
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
}

@media (max-width: 375px) {
  .counters-section {
    .inner {
      .counter-item {
        &::before {
          right: -8vw;
        }
      }
    }
  }
}
