


*{box-sizing: border-box;}
*:focus{outline:none;}
::-moz-focus-inner{border:0;}
body{margin:0px; font-family: $primary-font; font-size: 1.25rem; line-height: 1.5; font-weight: 400; color: $secondary-color; }


.container{ margin:0 auto; padding: 0 16px; }

img{height:auto; max-width:100%; display: block;}


@media (min-width:768px) { .container {width:750px;} }
@media (min-width:992px) { .container {width:970px;} }
@media (min-width:1200px) { .container {width:1170px;} }
@media (min-width:1430px) { .container {width:1312px;} }

