footer.footer {
  background: $secondary-color;
  padding: 80px 0;

  .inner {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }

  .footer-left {
    max-width: 382px;
    color: #fff;

    .content {
      margin-top: 32px;
    }

    .info {
      margin-top: 32px;

      p {
        margin: 0;
      }

      a {
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .footer-right {
    flex-grow: 1;
    color: #fff;
    a {
      color: #fff;
      font-size: 16px;
      line-height: 24px;

      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li + li {
        margin-top: 5px;
      }
    }
    .footer-menu {
      display: flex;
      justify-content: space-between;
    }
    .social {
      ul {
        display: flex;
        align-items: center;
        gap: 8px;

        li {
          a {
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(from #fff r g b / 0.08);
            transition: 0.4s;
            &:hover {
              background: rgb(from #fff r g b / 0.16);
            }
          }
        }
      }
    }
    .subscribe-box {
      margin-top: 40px;
      form {
        position: relative;
        .button-wrapper {
          position: absolute;
          top: -18px;
          right: 8px;
        }
      }
      .input-wrapper {
        position: relative;
        input {
          width: 100%;
          padding: 22px 200px 22px 62px;
          border-radius: 16px;
          font-size: 20px;
          line-height: 1.5;
          background: rgb(from #fff r g b / 0.08);
          border: none;
          color: #fff;
        }
        .icon {
          position: absolute;
          top: 24px;
          left: 20px;
        }
      }

      .button-wrapper {
        button {
          background: $primary-color;
          color: #fff;
          padding: 16px;
          min-width: 180px;
          border: none;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          line-height: 1.5;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  footer.footer {
    .inner {
      flex-direction: column;
    }
  }
}

@media (max-width: 767px) {
  footer.footer {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  footer.footer {
    .footer-right {
      .footer-menu {
        flex-wrap: wrap;
        row-gap: 40px;

        .menu-col {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  footer.footer {
    .footer-right {
      .subscribe-box {
        form {
          .button-wrapper {
            position: static;
            display: flex;
            justify-content: center;
            margin-top: 10px;
            button {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
