header {
  &.header {
    padding: 24px 0;

    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .center {
        ul {
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          gap: 56px;
          list-style: none;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 16px;
      .menu-bar {
        display: none;
        a {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  header {
    &.header {
      .inner {
        .center {
          ul {
            gap: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    &.header {
      .inner {
        justify-content: space-between;

        .center {
          position: absolute;
          top: 94px;
          left: 0;
          width: 100%;
          background: #fff;
          border-top: 1px solid;
          padding: 24px 16px;
          display: none;
          ul {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
          }
        }
        .right {
          .menu-bar {
            display: block;
          }
        }
      }
    }
  }
}
