p {
  margin: 0 0 15px 0;
}
p:last-child {
  margin: 0;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: $secondary-font;
}

h1 {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 500;
}

h2 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.5rem;
  opacity: 0.56;
  line-height: 1.5;
  font-family: $primary-font;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
  font-family: $primary-font;
}

a {
  font-family: $primary-font;
  color: $secondary-color;
  text-decoration: none;
  transition: color 0.3s ease;
  display: inline-block;

  &:hover {
    color: $primary-color;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.625rem;
  }
}
