
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    font-size: 16px;
}

$primary-color: #6D1600;
$secondary-color: #282A3A;
$tertiary-color: #D9D9D9;

$primary-font: "Inter", sans-serif;
$secondary-font: "Playfair Display", serif;
$tertiary-font: "Playfair Display SC", serif;