@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  color: #282A3A;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1430px) {
  .container {
    width: 1312px;
  }
}
p {
  margin: 0 0 15px 0;
}

p:last-child {
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 500;
}

h2 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.5rem;
  opacity: 0.56;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

a {
  font-family: "Inter", sans-serif;
  color: #282A3A;
  text-decoration: none;
  transition: color 0.3s ease;
  display: inline-block;
}
a:hover {
  color: #6D1600;
}

@media (max-width: 767px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.625rem;
  }
}
.primary-btn {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.primary-btn a {
  font-size: 1.5rem;
  line-height: 1.5;
  background: #6D1600;
  padding: 24px 40px;
  border-radius: 0 23px;
  color: #fff;
  font-family: "Playfair Display SC", serif;
  display: flex;
  align-items: center;
  gap: 24px;
}
.primary-btn a span {
  transition: transform 0.3s ease;
}
.primary-btn a:hover span {
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .primary-btn a {
    font-size: 1.125rem;
    padding: 18px 30px;
  }
  .primary-btn a span {
    display: inline-flex;
    width: 26px;
  }
}
header.header {
  padding: 24px 0;
}
header.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.header .inner .center ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 56px;
  list-style: none;
}
header.header .right {
  display: flex;
  align-items: center;
  gap: 16px;
}
header.header .right .menu-bar {
  display: none;
}
header.header .right .menu-bar a {
  width: 20px;
  height: 20px;
}

@media (max-width: 991px) {
  header.header .inner .center ul {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  header.header .inner {
    justify-content: space-between;
  }
  header.header .inner .center {
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid;
    padding: 24px 16px;
    display: none;
  }
  header.header .inner .center ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  header.header .inner .right .menu-bar {
    display: block;
  }
}
.hero-section {
  padding: 80px 0 20px;
}
.hero-section .title-part {
  max-width: 630px;
  margin: 0 auto;
}
.hero-section .title-part .content {
  margin-top: 24px;
}
.hero-section .image-gallery {
  display: flex;
  gap: 16px;
  margin-top: 80px;
}
.hero-section .image-gallery .image {
  overflow: hidden;
}
.hero-section .image-gallery .image:nth-child(even) {
  border-radius: 80px 0 80px 0;
}
.hero-section .image-gallery .image:nth-child(odd) {
  border-radius: 0 80px 0 80px;
}

.counters-section {
  padding: 40px 0;
}
.counters-section .inner {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
  border-top: 1px solid #282A3A;
  border-bottom: 1px solid #282A3A;
}
.counters-section .inner .counter-item {
  width: 214px;
  position: relative;
}
.counters-section .inner .counter-item:before {
  position: absolute;
  content: "";
  right: -4vw;
  width: 1px;
  background: #282A3A;
  height: 100%;
  border-radius: 100%;
}
.counters-section .inner .counter-item:last-child:before {
  display: none;
}
.counters-section .inner .counter-item .count {
  font-size: 4rem;
  line-height: 1;
}
.counters-section .inner .counter-item .content {
  font-size: 1.5rem;
  line-height: 1;
  font-family: "Playfair Display", serif;
  margin-top: 16px;
}

.products-section {
  padding: 40px 0 80px;
}
.products-section .inner .title-part {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}
.products-section .inner .title-part h5 {
  margin: 0;
}
.products-section .cards-wrapper {
  margin: 80px -12px 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
}
.products-section .cards-wrapper .card {
  width: 25%;
  padding: 0 12px;
}
.products-section .cards-wrapper .card .image {
  border-radius: 0 40px 0 40px;
  overflow: hidden;
}
.products-section .cards-wrapper .card .content-box {
  padding: 16px 24px;
}
.products-section .cards-wrapper .card .content-box .raitng {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.products-section .cards-wrapper .card .content-box .raitng .stars {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  opacity: 0.7;
}
.products-section .cards-wrapper .card .content-box .raitng span.all {
  font-size: 16px;
  opacity: 0.7;
  line-height: 1;
}
.products-section .cards-wrapper .card .content-box .content {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.3;
  opacity: 0.7;
}
.products-section .cards-wrapper .card .content-box .card-bottom {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.products-section .cards-wrapper .card .content-box .card-bottom .price {
  font-weight: 700;
  opacity: 0.7;
}
.products-section .cards-wrapper .card .content-box .card-bottom a {
  background: #6D1600;
  min-width: 80px;
  text-align: center;
  padding: 4px;
  border-radius: 8px;
  font-size: 30px;
  line-height: 0.5;
  color: #fff;
  border: 1px solid #6D1600;
  transition: all 0.3s ease;
  height: 30px;
}
.products-section .cards-wrapper .card .content-box .card-bottom a:hover {
  background-color: #fff;
  color: #6D1600;
}

.about-section {
  padding: 80px 0 144px;
}
.about-section .title-part {
  max-width: 330px;
  margin: 0 auto;
}
.about-section .inner-wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.about-section .left,
.about-section .right {
  width: 50%;
}
.about-section .left .primary-btn {
  justify-content: flex-start;
}
.about-section .right {
  display: flex;
  gap: 24px;
}
.about-section .right .image {
  border-radius: 120px 0 120px 0;
  display: flex;
  overflow: hidden;
  max-height: 378px;
}
.about-section .right .image img {
  width: 100%;
  display: block;
}
.about-section .right .image:nth-child(2) {
  border-radius: 0 120px 0 120px;
}
.about-section .right .image:first-child {
  transform: translateY(64px);
}

.testimonial-section {
  padding: 80px 0;
}
.testimonial-section .card-slider {
  margin-top: 80px;
}
.testimonial-section .card-slider .card {
  padding: 24px 40px;
}
.testimonial-section .card-slider .card .card-top {
  display: flex;
  gap: 16px;
  align-items: center;
}
.testimonial-section .card-slider .card .card-top .image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.testimonial-section .card-slider .card .card-top .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial-section .card-slider .card .rating {
  display: flex;
  gap: 5px;
  margin-top: 8px;
}
.testimonial-section .card-slider .card .bottom-cotent {
  margin-top: 16px;
}
.testimonial-section .card-slider .splide__pagination {
  position: static;
  margin-top: 40px;
}
.testimonial-section .card-slider .splide__pagination button.splide__pagination__page {
  background: #D9D9D9;
  width: 16px;
  height: 16px;
}
.testimonial-section .card-slider .splide__pagination .splide__pagination__page.is-active {
  transform: scale(1);
  background-color: #6D1600;
}

@media (max-width: 1199px) {
  .counters-section .inner {
    padding: 40px 0;
  }
  .counters-section .inner .counter-item::before {
    right: -1vw;
  }
  .counters-section .inner .counter-item .content {
    font-size: 1.25rem;
  }
  .counters-section .inner .counter-item .count {
    font-size: 3.25rem;
  }
  .products-section .cards-wrapper .card {
    width: 50%;
  }
  .products-section .cards-wrapper .card .image img {
    width: 100%;
  }
  .about-section {
    padding: 80px 0;
  }
  .about-section .inner-wrapper {
    gap: 42px;
  }
  .about-section .left {
    width: 48%;
  }
  .about-section .right {
    width: 52%;
  }
}
@media (max-width: 991px) {
  .counters-section {
    padding: 40px 0;
  }
  .counters-section .inner {
    row-gap: 60px;
  }
  .counters-section .inner .counter-item {
    width: calc(50% - 24px);
  }
  .counters-section .inner .counter-item:nth-child(2)::before {
    display: none;
  }
  .products-section {
    padding: 40px 0;
  }
  .products-section .cards-wrapper {
    margin-top: 40px;
  }
  .about-section {
    padding: 40px 0;
  }
  .about-section .inner-wrapper {
    gap: 42px;
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .about-section .left {
    width: 100%;
  }
  .about-section .left .primary-btn {
    justify-content: center;
  }
  .about-section .left .content {
    text-align: center;
  }
  .about-section .right {
    width: 70%;
    margin: 0 auto;
  }
  .about-section .right .image:first-child {
    transform: translate(0);
  }
  .testimonial-section {
    padding: 40px 0;
  }
  .testimonial-section .card-slider {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .hero-section {
    padding: 40px 0 20px;
  }
  .hero-section .image-gallery {
    margin-top: 40px;
  }
  .hero-section .image-gallery .image:nth-child(odd), .hero-section .image-gallery .image:nth-child(even) {
    border-radius: 0 20px 0 20px;
  }
  .counters-section .inner .counter-item::before {
    right: -5vw;
  }
  .counters-section .inner .counter-item .count {
    font-size: 2.625rem;
  }
  .counters-section .inner .counter-item .content {
    font-size: 1.125rem;
  }
  .products-section .cards-wrapper {
    margin: 40px 0 0;
  }
  .products-section .cards-wrapper .card {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    padding: 0;
  }
  .testimonial-section .card-slider .card {
    padding: 24px;
  }
}
@media (max-width: 575px) {
  .about-section .right {
    width: 100%;
  }
  .about-section .right .image {
    border-radius: 60px 0 60px 0;
  }
  .about-section .right .image:nth-child(2) {
    border-radius: 0 60px 0 60px;
  }
}
@media (max-width: 375px) {
  .counters-section .inner .counter-item::before {
    right: -8vw;
  }
}
@media (min-width: 768px) {
  .flex {
    display: flex;
  }
  .flex-reverse {
    flex-flow: row-reverse;
  }
  .align-center {
    align-items: center;
  }
  .align-top {
    align-items: flex-start;
  }
  .align-bottom {
    align-items: flex-end;
  }
  .space-between {
    justify-content: space-between;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-right {
    justify-content: flex-end;
  }
  .justify-left {
    justify-content: flex-start;
  }
  .row-wrap {
    flex-flow: row wrap;
  }
  .mobile-show {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */